    <div class="snowflakes" aria-hidden="true">
      <div class="snowflake">&#10053;</div>
      <div class="snowflake">&#10053;</div>
      <div class="snowflake">&#10053;</div>
      <div class="snowflake">&#10053;</div>
      <div class="snowflake">&#10053;</div>
      <div class="snowflake">&#10053;</div>
      <div class="snowflake">&#10053;</div>
      <div class="snowflake">&#10053;</div>
      <div class="snowflake">&#10053;</div>
      <div class="snowflake">&#10053;</div>
      <div class="snowflake">&#10053;</div>
      <div class="snowflake">&#10053;</div>
      <div class="snowflake">&#10053;</div>
      <div class="snowflake">&#10053;</div>
      <div class="snowflake">&#10053;</div>
      <div class="snowflake">&#10053;</div>
      <div class="snowflake">&#10053;</div>
      <div class="snowflake">&#10053;</div>
      <div class="snowflake">&#10053;</div>
      <div class="snowflake">&#10053;</div>
    </div>
  </body>
</html>
